@import './colors.scss';
@import './header.scss';
@import './rental-home.scss';

html, body {
    height: 100%;
}

.bwm-container{
    padding-top: 70px;
}
.type- {
    &apartment {
        color: #a72da3;
    }

    &condo {
        color: #bf1818;
    }
    &house {
        color: #d68000;
    }
}

.title{
    font-size: 100px;
}



.btn{
    &.btn-bwm-main {
        border-color: $main-app-color;
        color: $main-app-color;

        &:hover, &:focus, &:active{
            background-color: $main-app-color;
            border-color: $main-app-color;
            color: white;
            box-shadow: none;  
        }
    }
}